.Container {
    margin: 0 auto;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #008F8C;
    margin-bottom: 0%;
    position: fixed;
}

.copyRight {
    margin-top: 10px;
    font-size: medium;
    font-weight: 300;
    color: white;
}
