@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

.navbar{
background-color:#4F607E;
}
.navlink{
    font-family:  'Roboto Mono', monospace;
    font-size: 15px;
    font-style: italic;
    margin-left: 20px;
}
